<div class="col-sm-9">
  <div class="row">
    <% @user.followers.each do |follower| %>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card user-card">
          <div class="card-inner">
            <div class="image-wrapper">
              <%= image_tag "warbler-hero", class: "card-hero" %>
            </div>
            <div class="card-contents">
              <%= render "shared/user_card", user: follower %>
              <%= render "shared/follow_buttons", other_user: follower %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
