<% if @users.blank? %>
  <h3>Sorry, no users found</h3>
<% else %>
  <div class="row justify-content-end">
    <div class="col-sm-9">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
              <div class="card-inner">
                <div class="image-wrapper">
                  <%= image_tag "warbler-hero", class: "card-hero" %>
                </div>
                <div class="card-contents">
                  <%= render "shared/user_card", user: user %>
                  <% if current_user %>
                    <%= render "shared/follow_buttons", other_user: user %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>